#sw-dark-label {
    width: 125px;
    height: 50px;
    position: relative;
    display: block;
    background-color: #ebebeb;
    border-radius: 100px;
    box-shadow: inset 0px 5px 15px rgba(0,0,0,0.4), inset 0px -5px 15px rgba(255,255,255,0.4);
    cursor: pointer;
}

/* inserta un elemento después del contenido label */
#sw-dark-label::after {
    content: "";
    width: 45px;
    height: 45px;
    position: absolute;
    top: 2.5px;
    left: 2.5px;
    background: linear-gradient(180deg, #ffcc89,#d8860b);
    border-radius: 45px;
    box-shadow: 0px 5px 10px rgb(0, 0, 0, 0.2);
}

#darkmode-toggle {
    width: 0;
    height: 0;
    visibility: hidden;
}

#darkmode-toggle + #sw-dark-label {
    /* background: #242424; */
    background: #ebebeb
}

#darkmode-toggle:checked + #sw-dark-label::after {
    left: 122.5px;
    transform: translateX(-100%);
}

#sw-dark-label, #sw-dark-label:after {
    transition: 0.3s;
}

#sw-dark-label:active:after {
    width: 65px;
}

.fondito {
    width: 50vw;
    height: 50vh;
    background: #fff;
    z-index: -1;
    position: absolute;
    transition: 0.3s;
}

#darkmode-toggle:checked + #sw-dark-label:after {
    background: #403d3d;
}

/* 
    Se adjuntan las clases adyacentes(una abajo de otra) y si está checked
    se cambia el background de fondito
 */
#darkmode-toggle:checked + #sw-dark-label {
    background: #1889f388
}

/* otros */
#sw-dark-label svg {
    position: absolute;
    width: 30px;
    top: 10px;
    z-index: 100;
}

#sw-dark-label svg.sun {
    left: 10px;
    fill: #fff;
    transition: 0.3s;
}

#sw-dark-label svg.moon {
    left: 85px;
    fill: #7e7e7e;
    transition: 0.3s;
}

#darkmode-toggle:checked+label svg.sun {
    fill: #7e7e7e;
}

#darkmode-toggle:checked+label svg.moon {
    fill: #fff;
}